body{
 /* background-image: linear-gradient(to right top, #37052e, #5d0355, #840081, #aa00b3, #ce12eb);*/
 background-image: url(CSS-Background-Image-Full-Screen-background-size-contain-1024x849.png);
 background-repeat: no-repeat;
 background-size: cover;
 
}
#page1{
    display: block;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.8813726174063375) 50%, rgba(252,176,69,1) 100%);
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
    height: 85vh;
  }
  #loginpg{
    display: grid;
    place-items: center;
  }

 #uname,
 #password{
    padding: 10px;
  /*  margin-bottom: 20px;*/
    border: 1px solid gray;
    border-radius: 5px;
    width: 250px;

}
#loghead{
margin-left: 0;
}

#log{
  margin: 10px;
}
#loginButton{
    background-color: blue;
    color:rgb(8, 8, 8);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#loginButton:hover{
    background-color: navy;
}
#first{
   color:white;
   padding-bottom: 50px; 
   margin-bottom: 5px;
  /* background-color: rgb(20, 9, 80);*/
   padding: 25px;
   background: rgb(10,9,23);
   background: linear-gradient(90deg, rgba(10,9,23,0.9598039899553571) 0%, rgba(215,49,208,1) 5%, rgba(12,142,147,0.8701681356136204) 35%, rgba(0,212,255,1) 100%); 

    
}
/*register*/
#page2 {
   display: none;
  padding: 30px;
  text-align:center;
  background: rgb(10,9,23);
  background: linear-gradient(90deg, rgba(10,9,23,0.9598039899553571) 0%, rgba(49,215,162,1) 5%, rgba(150,185,35,0.6180672952774859) 35%, rgba(0,212,255,1) 100%); 
  height: 100vh;
}
#reg{
  margin-left: 0;
}

/*
h1 {
    padding: 25px;
    text-align: center;
    color: rgb(1, 1, 17);
    background-color: rgb(54, 54, 167);
}*/
h2{
  color: #5c0067;
}
#page2 label{
  color: black;
}

#regbut {
    color: burlywood;
    background-color:#20148b;
    height: 30px;
    width: 80px;
    border: 2px solid darkblue;
    border-radius: 5px;
}

/*loading*/
#page4 {
 /* background: rgb(63, 94, 251);*/
 background: rgb(10,9,23);
  background: linear-gradient(90deg, rgba(10,9,23,0.9598039899553571) 0%, rgba(49,215,162,1) 5%, rgba(150,185,35,0.6180672952774859) 35%, rgba(0,212,255,1) 100%); 
  /*background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(153, 84, 32, 1) 100%);*/
  width: 95%;
  margin: 0 auto;
  display: none;
  height: 80vh;
}
#app{
  background-color: none;
  color: #000;
}

.head {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

#img1 {
  margin-top: 50px;
  padding-right: 100px;

}

.head .img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img img {
  width: 35%;
}

.avatar {

  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 1600px;
}

.h2 {
display: flex;
margin-left: 1600px;

}

.ava {
  display: flex;
  flex-direction: column;

  /*align-items: center;*/
}
/*chatting*/
#page5{
  background-image: url(images.jpeg);
display: none;

}
/* Style for the header */
h1 {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #075e54;
  margin-top: 30px;
}
.logout{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  

}
#logout-button{
  padding: 10px;
  background-color: #20148b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Style for the chat container */
#chat-container {
  height: 700px;
  border: 1px solid #ddd;
  overflow-y: scroll;
  padding: 10px;
  margin: auto;
  text-align: right;
  background-image: url(whatssapp.webp);
width: 500px;
border-radius: 7px;


}



/* Style for the input container */
#input-container {
  display: flex;
  justify-content: center;
text-align: center;
margin-top: 10px;
  
}

/* Style for the message input field */
#message-input {
  width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #0e0e0f;
  color: white;
  
}

/* Style for the send button */
#send-button {
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
 font-size: 16px;
 background-color: green;
 padding: 10px;



}

#chat{
  color:rgb(6, 14, 6);
 /* display:inline-flex;
  flex-direction: column;*/

  
}


#page5 label{
  margin: 10px 0;
  padding: 10px;
  color: rgb(187, 180, 180);
  border-radius: 10px;

}


.text-right{
  text-align: right;
  margin:10px 5px;
 


}
.text-left{
  text-align: left;
  margin: 10px 5px;
  
  }
.current-user{
  background-color:#043927;
  border: 2px solid #0c2402;
 
}

.old-user{
  background-color:#3a3b3d;
  border: 2px solid #3a3b3d;
  display: inline-flex;

}
small{
  color:aqua;
}

/*news*/

#page6 {
  background-color: aquamarine;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  display: none;
  color: #000;
  

}

#container {
  text-align: center;
  border: 2px solid black;
  background-color: aqua;
  display: block;

}

#unlike {
  width: 50px;
  height: 50px;
  padding-left: 5px;
  cursor: pointer;

}

#like {
  cursor: pointer;

}
#buttons {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}

#head2 {
  color: black;

}
/*profile*/
#page7{
  display: none;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color:wheat;
}

.title {
  color: grey;
  font-size: 18px;
}

#page7 button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
 /* width: 100%;*/
  font-size: 18px;
}
 a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
#save div {
  margin: 20px auto;
  width: 400px;
  padding: 10px;
 background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for the input fields */
#save input {
  display: block;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for the save button */
#save button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 /* float: right;*/
}

/* Style for the save button on hover */
#save button:hover {
  background-color: #45a049;
}
/*edit profie*/